#header{
    background-color: rgb(209, 209, 209);

    h1{
        display: unset;
        margin-left: 40%;
        text-align: center;
       
        
    }

    a{
        img{
            
        }
    }
}

#conteudo{
    background-color: rgb(209, 209, 209);
    width: 50%;
}